header {
    background-color: #2C2F33;
    color:#FFFFFF ;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
nav {
    background-color: #7289DA;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 15px;
    border-radius: 5px;
}
nav a:hover {
    background-color: rgb(255, 223, 0);
}
